# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Large Files
data/
*.parquet
*.csv
logs/
_delta_log/

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
